<html>
     
     <body style="background:lightsteelblue">
    <title> Twitch статистика</title>
    <header style="background:blueviolet;font-family:sans-serif;">
    <img src="https://www.sostav.ru/images/news/2019/09/30/7ldtxaxw.jpg" width="50px" height="40px">
    <a href="#table"> Таблица популярности </a>   
    <h1 style="text-align:center;sans-serif"> Статистика стримеров <i>Twitch</i><br> За последнее время</h1>
    </header>               

<main style="font-family:sans-serif;">
<h2 style="sans-serif">Язык канала:	Русский</h2>
<h2 style="sans-serif">Дата создания канала:	16 сентября 2015</h2>
<h2 style="sans-serif">Канал существует:	5 лет 7 мес. 24 дня</h2>
<h2 style="sans-serif">Like-рейтинг:	65.37%</h2>
<h2 style="sans-serif">Общее количество голосов:	51</h2>
<h2 style="sans-serif">Просмотров на подписчика:   33</h2> 
 <p>  Рассмотрим стримера с псевдонимом  Fenya - Аккаунт на сервисе Twitch был создан 16 сентября 2015. Русский стример Fenya играет в Counter-Strike: Global Offensive на канале <a href="twitch.tv/fenya.">twitch.tv/fenya.</a>

<br>За все время Феня набрал 14 501 167 просмотров и 449 063 подписчика. Каждый подписчик принес 32 просмотра.

Рейтинг популярности 63.46%, в свою поддержку набрал 48 голосов.</p>

<img src="https://static-cdn.jtvnw.net/jtv_user_pictures/fenya-profile_image-4a5b2d24ef480f68-300x300.png" height="300px">
<img src="https://i.ytimg.com/vi/xVKMmrd81x4/maxresdefault.jpg" height="300px">
    <table id="table" style="border:1px solid darkviolet;border-collapse:collapse;">
<tr style="border:1px solid darkviolet">
    <td> Игра </td>
    <td> просмотры </td>
    <td> Новые фолловеры </td>
</tr>
<tr style="border:1px solid darkviolet">
    <td> Counter-Strike: Global Offensive </td>
    <td> 56.324 </td>
    <td> 10.154 </td>
</tr>
<tr style="border:1px solid darkviolet">
    <td> Call of Duty: Warzone </td>
    <td> 6.312 </td>
    <td> 3.129 </td>
</tr>
    </table>
     <p> <i><b>  QIWI оценила рынок игрового стриминга в России и СНГ в 21,6 млрд рублей </b> </i>
   <br> Много кто любит стримы, у нынешних стримеров имеется многомиллионная армия поклонников, и их деяния и жизненные ситуации обсуждаются не меньше, чем жизнь голливудских звезд. Самые успешные из них уже давно связаны контрактами с известными брендами, но и звезды Twitch, Youtube и Mixer начинали с простых донатов. И известная многим компания QIWI решила провести исследование по этому любопытному вопросу, а именно донатам на стримах и опросить самих зрителей стримов. И результаты получились весьма любопытными. В таком тонком вопросе нельзя пороть отсебятину, потому я обращусь непосредственно к документу исследования. Чтобы не вызывать разночтения, или противоречий.</p>

<p>По оценке QIWI, объем рынка игрового стриминга составляет не менее <b>21,6 млрд рублей </b> с потенциалом роста в 20% ежегодно в ближайшие 3 года. С точки зрения бизнеса ниша стриминга в России развивается и имеет большой потенциал в части рекламной и маркетинговой коллаборации. Особенно интересной она может быть брендам, взаимодействующим с взрослеющим поколением Z – она поможет бизнесу наладить контакт с менее восприимчивым к традиционным каналам взаимодействия с ними digital natives. Результаты исследования QIWI показали, что треть респондентов (33%) отправляет донаты регулярно – раз в 2-7 стримов, а 63% – только в особых случаях. Средний чек доната составил в этом году 356 рублей, половина пользователей при этом отправляют донаты в диапазоне 100-299 рублей, а четверть – в размере от 300 до 999 рублей. Более половины зрителей (57%) перечисляют донаты с помощью банковских карт, из них 73% пользуются «Сбербанком», 8% – ВТБ, по 5% и 4% приходятся на «Тинькофф банк» и «Альфа банк». Почти треть донатеров (31%) пользуются QIWI Кошельком для перечисления средств. Третье место (по 17%) делят между собой «Яндекс.Деньги» и платежи со счета мобильного телефона.</p>
<p style="text-align:center;"> <b> <i>Даже шахтёр может стать стримером </i> </b> </p>
<p>Где бы вы ни жили, кем бы ни были по профессии, у вас есть шанс обрести огромную аудиторию. Например, Дмитрий Пустоваров из Ухты, шахтёр и по совместительству диджей на свадьбах, решился бросить тяжёлую и скучную работу ради игры, а затем и стриминга PUBG (PlayerUnknown’s Battlegrounds). Сегодня MakataO — один из самых популярных геймеров постсоветского пространства.</p>

<p>Компьютерными играми Дмитрий увлёкся в школе, а в институте даже был членом полупрофессиональной команды по легендарному шутеру Battlefield. Накопив 100 тысяч рублей, что составляло несколько его зарплат, парень купил мощный компьютер и зарегистрировался на стриминговой платформе Twitch. Первые эфиры он проводил без зрителей, поскольку качество звука и картинки было ужасным, а камеры и вовсе не было. Но MakataO использовал лайфхак: понимая, что вечером тягаться с популярными стримерами сложно, он запускал трансляции позже — когда подключался Дальний Восток.</p>

<p>Вскоре стали приходить первые донаты, или пожертвования: зрители присылали по 20–50 рублей, чтобы поддержать игрока. Постепенно заработки росли, а когда в 2017‑м MakataO перешёл на набиравшую популярность игру PUBG, аудитория увеличилась в несколько раз. Сегодня Дмитрий отлично зарабатывает, занимаясь одним лишь стримингом.</p>

<p style="text-align:center;"> <b><i>стриминг не требует космических вложений</i></b> </p>
<p>Чтобы начать, вам не обязательно покупать сверхдорогой компьютер. Попробуйте на первых порах работать на имеющемся ноутбуке или домашнем ПК. Точно стоит докупить микрофон и веб‑камеру: встроенные не обеспечат нужного качества.</p>

<p>Как только вы поймёте, что именно хотите стримить, будете знать, как именно вам стоит обновить компьютер. Так, для игр есть конкретные системные требования. Также нужно учитывать «запас» на работу Twitch или других приложений для запуска трансляций. Сетап для стримов на прочие темы — от 8 ГБ оперативной памяти, процессор уровня i5/i7 последних поколений, пара Full‑HD‑экранов.</p>
         </main>        
    <footer style="background : blueviolet">
       <br> <a href="https://streamersbase.ru/streamers/fenya"> <font color="black">Подробная информация о данном стримере </font> </a>
    </footer>
            </body>      
</html>
